body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  display: flex;
}

main {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.hdiv {
  background-color: lightgrey;
  padding: 3px;
  border-radius: 20px;
  flex: 1;
}

label, input {
  display: block; /* Display label and input elements on separate lines */
}

input {
  width: 100%;
}

button {
  width: 100%;
  flex: 1;
  background-color: rgb(211, 211, 211);
}

#setup {
  text-align: center;
}

label {
  text-align: center;
}

footer {
  text-align: center;
  background-color: lightblue;
  flex: 1;
}

#game {
    display: flex;
    flex: 8;
}

table {
    flex: 3;
}

#game section {
    flex: 1;
}

#name:invalid, #size:invalid{
    border: 1px solid red;
}

.selected {
    border: 1px solid yellow;
}

#result {
  font-size: 15px;
}

#highScore td {
  text-align: center;
}

#highScore tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#highScore tr {
  align-items: center;
}

table {
  width: 100%;
}