@media (min-width:100px) and (max-width:400px){

    body {
        height: auto;
        flex-direction: column;
    }

    header, nav, main, footer {
        flex-direction: column;
        width: 100%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .hdiv {
        margin: 5px;
        flex: 1;
    }
 
    label, input, button {
        width: 95%;
        margin: 15px auto;
    }

    #game {
        flex-direction: column;
    }

    table {
        width: 100%;
    }

    #game section {
        width: 100%;
    }

    td {
        padding: 20px;
    
    }
}